<h1>Add New Cocktail</h1>

<%= simple_form_for @cocktail, html: { class: "text-light"} do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>

<%= link_to 'back', cocktails_path %>
